# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://user:pasword@localhost:5432/manalinmas_db?schema=public"

# JWT Auth
JWT_ACCESS_SECRET="super_secret_access_key_change_in_production"
JWT_REFRESH_SECRET="super_secret_refresh_key_change_in_production"
JWT_ACCESS_EXPIRATION="1d"
JWT_REFRESH_EXPIRATION="7d"

# Firebase Admin SDK (Service Account JSON flattened or path)
FIREBASE_PROJECT_ID="your_project_id"
FIREBASE_CLIENT_EMAIL="your_client_email"
FIREBASE_PRIVATE_KEY="your_private_key"

# Backblaze B2
B2_APPLICATION_KEY_ID="your_b2_key_id"
B2_APPLICATION_KEY="your_b2_application_key"
B2_BUCKET_ID="your_bucket_id"
B2_CDN_URL="https://cdn.any.id"

#

B2_BUCKET_NAME="bucket"

# Geofence Configuration (RW 07 Sukamenak)
GEOFENCE_ID="GEO_RW07_SUKAMENAK"
GEOFENCE_LATITUDE=-6.021321
GEOFENCE_LONGITUDE=107.1290321
GEOFENCE_RADIUS_METERS=30.0